.box{
    text-align: center;
    #btn_text{
        font-size: 150px;
    }
    #strat_btn{
        width: 100px;
        height: 40px;
        background-color: tomato;
        color: #fff;
    }
    #stop_btn{
        width: 100px;
        height: 40px;
        background-color: skyblue;
        color: #fff;
    }
}
